rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Permitir acceso completo a la colección "cases"
    match /cases/{caseId} {
      allow read, write: if true;
    }

    // Permitir acceso completo a la colección "codes"
    match /codes/{codeId} {
      allow read, write: if true;
    }

    // Permitir acceso completo a la colección "users"
    match /users/{userId} {
      allow read, write: if true;
    }

    // Permitir acceso completo a la colección "accessCode"
    match /accessCode/{codeId} {
      allow read, write: if true; // Permitir acceso completo a esta colección
    }
  }
}
