.pdfId {
    margin-top: 7rem;
    border-bottom: 1px solid var(--primary-color);
}

.pdfId .idNumber {
    color: var(--secondary-color);
}

.filed {
    display: grid;
    flex-direction: column;
    gap: 5rem;
    text-align: center;

}