section {
    /* border: 1px solid red; */

}

.adminDashboard {
    height: 100vh;
}


.footer {
    height: 13%;
    background-color: rgb(23, 22, 22);
    color: white;
}

.content {
    height: 80%;
}

.content {
    display: grid;
    /* flex-direction: row; */
    grid-template-columns: 20% 80%;
}

.blackLine {
    border: 1px solid black;

}

/* Create Access Code */
.accessCodeList {
    text-align: center;

}

.accessCodeList ul {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.accessCodeItem {
    margin: .5rem;
    border-bottom: 1px solid var(--primary-color);
    width: 60%;
}