.form {
    margin: 3rem auto;
}

.radioOptions {

    display: flex;

    gap: .5rem;
}

.radioOptions input[type="radio"]:checked+label {
    background-color: hsl(172, 67%, 45%);
}

.helpTip {
    max-width: 300px;
    line-height: 1.5rem;
    text-align: center;
}