.form {
    margin: 3rem auto;
}

.radioOptions input[type='radio'] {

    height: 1.3rem;
    width: 1.3rem;
    vertical-align: middle;
    margin-right: .5rem;
    margin-bottom: .5rem;
}

.radioOptions input[type="radio"]:checked+label {
    background-color: hsl(172, 67%, 45%);
    padding: .3rem;
}

.helpTip {
    max-width: 300px;
    line-height: 1.5rem;
    text-align: center;
}


.formContainer>* {
    flex: 1 1 calc(50% - 1rem);
    min-width: 200px;
}

.formContainer {
    display: grid;
    flex-wrap: wrap;
    gap: 2rem;
}

.DocumentodeViaje {
    /* grid-template-rows: [row1-start] 25% [row1-end] 25%[row2-start] 25% [row2-end]; */

    /* flex-direction: column; */
    flex-direction: row-reverse;
    border: 1px solid black;
}

.DocumentodeViaje div:first-child {
    /* background-color: red; */
}

/* ---- */

/* Input Radio Type */
/* 
input[type='radio'].InputRadioType {
    
} */